body
 {
    /*padding-top:30px;*/
    /*background: url('images/bg-image.jpeg') no-repeat center center fixed;*/
    background: url('images/bg-pattern.png') #e9e9e9 repeat;
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.fa-priv {

    font-size: 20px;
}
.task {
    display: block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flex-link {
    display: inline-block !important;
    width:100% !important;
    #background: #fceb73;
    text-decoration: none !important;
}

