{% extends "bootstrap/base.html" %}
{% block title %}
Privateer
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light mb-5 sticky-top"  style="background-color: #ec7834;">
  <a class="navbar-brand" href="#">Privateer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Go</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stopadd">Stop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Links</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setup
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/setup">Create/Clear offers</a>
          <a class="dropdown-item" href="/upload">Upload new XLSX file</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('.static', filename='progress_bar.js')}}"></script>
{% endblock %}