{% extends "base.html" %}
{% block content %}
<body onload="loadScroll();">
<div class="container" xmlns="http://www.w3.org/1999/html">
    {% if tags %}
    {% include "home.html" %}
    {% endif %}
    {% if info %}
    {% include "info.html" %}
    {% endif %}
    {% if links or links == [] %}
    <div class="">
        <h3>Links</h3>
        <hr>
        <div class="mb-3">
            <form method="POST" action="search">
                <label class="btn btn-success" for="linksPhrases">Keywords
                    <input class="d-inline" id="linksPhrases" name="{{ settingsLinks[3][0] }}" type="checkbox" {% if
                           settingsLinks[3][2]=="true" %} checked value="True" {% endif %} onChange='submit();'>
                    <input class="d-inline" id="hiddenLinksPhrases" name="{{ settingsLinks[3][0] }}" type="hidden"
                           value="False">
                </label>
                <label class="btn btn-danger" for="linksAntyphrases">Negative keywords
                    <input class="d-inline" id="linksAntyphrases" name="{{ settingsLinks[4][0] }}" type="checkbox" {% if
                           settingsLinks[4][2]=="true" %} checked value="True" {% endif %} onChange='submit();'>
                    <input class="d-inline" id="hiddenLinksAntyphrases" name="{{ settingsLinks[4][0] }}" type="hidden"
                           value="False">
                </label>
                <label class="btn btn-secondary" for="linksVisited">Visited links
                    <input class="d-inline" id="linksVisited" name="{{ settingsLinks[6][0] }}" type="checkbox" {% if
                           settingsLinks[6][2]=="true" %} checked value="True" {% endif %} onChange='submit();'>
                    <input class="d-inline" id="hiddenLinksVisited" name="{{ settingsLinks[6][0] }}" type="hidden"
                           value="False">
                </label>
                <label class="btn btn-primary" for="linksFavorite">Favorites links
                    <input class="d-inline" id="linksFavorite" name="{{ settingsLinks[5][0] }}" type="checkbox" {% if
                           settingsLinks[5][2]=="true" %} checked value="True" {% endif %} onChange='submit();'>
                    <input class="d-inline" id="hiddenLinksFavorite" name="{{ settingsLinks[5][0] }}" type="hidden"
                           value="False">
                </label>
            </form>
        </div>
        {% if links != 1 and links != [] %}
        <div class="btn-md pl-2 pb-1">
            <i class="fas fa-circle text-secondary fa-priv" data-toggle="tooltip" data-placement="top"
               title="Visited links"></i>
            <i class="fas fa-circle text-primary fa-priv" data-toggle="tooltip" data-placement="top"
               title="Favorites links"></i>
        </div>
        {% for link in links %}
        {% include "links.html" %}
        {% endfor %}
        {% else %}
        no data
        {% endif %}
    </div>
    {% endif %}
    {% if upload %}
    {% include "upload.html" %}
    {% endif %}
    {% if settings %}
    {% include "settings.html" %}
    {% endif %}
</div>
</body>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<!--<script type="text/javascript">-->
<!--    var page = {{ page }}-->
<!--</script>-->
<script type="text/javascript">
    if(document.getElementById("visited").checked) {
        document.getElementById('hiddenVisited').enabled = true;
    }
    if(document.getElementById("favorite").checked) {
        document.getElementById('hiddenFavorite').enabled = true;
    }
    if(document.getElementById("linksPhrases").checked) {
        document.getElementById('hiddenLinksPhrases').enabled = true;
    }
    if(document.getElementById("linksAntyphrases").checked) {
        document.getElementById('hiddenLinksAntyphrases').enabled = true;
    }
    if(document.getElementById("linksVisited").checked) {
        document.getElementById('hiddenLinksVisited').enabled = true;
    }
    if(document.getElementById("linksFavorite").checked) {
        document.getElementById('hiddenLinksFavorite').enabled = true;
    }
</script>
<script type="text/javascript">
  function setCookie(name, val, exp, pth, dmn, scr) {
    document.cookie = name + '=' + escape(val) +
    (exp ? ';expires=' + e.toGMTString() : '') + (pth ? ';path=' + pth : '') +
    (dmn ? ';domain=' + dmn : '') + (scr ? ';secure' : '');
  }
  function getCookie(name) {
    var r = new RegExp('( |^)' + name + '=?([^;]*)(;|$)', ''), c;
    return (c = document.cookie.match(r)) ? unescape(c[2]) : null;
  }
  function saveScroll() {
    console.log(window.scrollX);
    console.log(window.scrollY);
    setCookie('scrollLeft', window.scrollX);
    setCookie('scrollTop', window.scrollY);
  }
  function loadScroll() {
    console.log('dupa');
    console.log(getCookie('scrollTop'));
    scrollTo(getCookie('scrollLeft'), getCookie('scrollTop'));
  }
</script>
<script type="text/javascript">
    var form = document.querySelector('.needs-validation');
    form.addEventListener('submit', function(event){
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    })
</script>
{% endblock %}