{% extends "base.html" %}
{% block title %}
    Index
{% endblock %}
{% block content %}
  <div class="container">
    {% if page %}
    <div class="progress">
      <div id="progressBar" class="progress-bar" role="progressbar" style="wdith: 0%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    {% endif %}
    {% if info %}
    <h3>Info</h3>
    <hr>
    <div class="row">
      <div class="alert alert-danger" role="alert">
        {{info}}
      </div>
    </div>
    {% endif %}
    {% if show %}
    <div class="row">
      <div class="alert alert-secondary" role="alert">
        {{data}}
      </div>
    </div>
    {% endif %}
    {% if links %}
    <h3>Links...</h3>
    <hr>
    <div class="row">
        {% for link in links %}
          <div class="col">
            <a class="task btn btn-primary btn-lg btn-bloc" href="{{ link[2] }}">
              {% if link[4][0][0]!="empty" %}
              <span class="badge badge-primary badge-pill okbadge">{{ link[4][0][0] }}</span>
              {% endif %}
              {% if link[5][0][0]!="empty" %}
              <span class="badge badge-success badge-pill antybadge">{{ link[5][0][0] }}</span>
              {% endif %}
              <span>{{ link[1] }}</span>
            </a>
          </div>
        {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">var page = {{ page }}</script>
{% endblock %}




