{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Upload
{% endblock %}
{% block content %}
<div class="container">
    <h3>Add tags file</h3>
    <hr>
    <form class="form form-horizontal" action="phrases" method="POST">
        <div class="form-group">
            {{ form.csrf_token }}
            <!--{{ wtf.form_field(form.xlsxfile) }}-->
            {{ wtf.quick_form(form) }}
            <input class="btn btn-lg btn-primary" type="submit" name="" value="Submit">
        </div>
    </form>
</div>
{% endblock %}