<div class="">
    <h3>Add tags file</h3>
    <hr>
    <form class="needs-validation" action="phrases" method="POST">
        <div class="custom-file text-center">
            <input type="file" name="xlsxfile" class="custom-file-input mb-4 valid form-control" id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01" required>
            <div class="invalid-feedback">error</div>
            <label class="custom-file-label center" for="inputGroupFile01">Choose file...</label>
            <input class="btn btn-lg btn-primary  " type="submit" name="" value="Send">
        </div>
    </form>
</div>